body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 400px; /* bottom = footer height */
}
.bottom-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

form {
  width: 300px;
  margin: 0 auto;
}

.Sign-Up {
  margin-top: 0;
}

scale-app-shell {
  --min-height: 0;
}

scale-button {
  --width:100%;
}